<!DOCTYPE>
<html>
    <head>
        <title>Multer Module</title>
    </head>
    <body>
        <h1>Khoa Pham Training</h1>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="avartar" value="" />
            <button>Upload file</button>
        </form>
    </body>
</html>